* {
  background-color: gray;
}
.Heading {
  color: blueviolet;
  background-color: transparent;
}
.ZeroHeading {
  color: rgb(255, 0, 0, 50%);
  background-color: transparent;
}
.items {
  width: 25%;
  background-color: rgb(10, 25, 47);
  border-bottom: solid rgb(12, 230, 219);
  border-top: solid rgb(12, 230, 219);
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.items:hover {
  transform: scale(0.9);
  border: solid bisque;
}
.h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
}
.button {
  width: 60px;
  height: 25px;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 0.7pc;
  color: rgba(6 188 156);
  border: solid rgba(6 188 156);
  border-width: thin;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgba(137, 207, 235, 15%);
}
input {
  background-color: transparent;
  border: solid rgba(6 188 156);
  border-width: thin;
  border-radius: 5px;
  color: white;
  height: 13px;
  padding: 5px;
}
/* .Hd1 {
  color: rgb(247, 246, 246);
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
} */
